[submodule "deps/gumbo-parser"]
	path = deps/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
